
obj/project.assets.json
obj/project.nuget.cache
obj/SOTS.csproj.nuget.dgspec.json
obj/SOTS.csproj.nuget.g.props
obj/Debug/net45/SOTS.assets.cache
.vs/SOTS/v16/.suo
obj/Debug/net45/SOTS.assets.cache
*.v2
*.vsidx
